<div class="w-full bg-secondary">
    <div class="max-w-[1440px] mx-auto flex flex-col gap-[90px] px-4 py-10">
      <div class="">
        <p class="text-[#828282] semibold text-sm">
          FOLLOW US
        </p>
        <div class="flex gap-[14px]">
          <a aria-label="instagram" href="https://instagram.com/caflercovers">
            <svg
              width="20"
              height="20"
              viewBox="0 0 20 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M14.125 5.875H14.1317M6.25 2.5H13.75C15.8211 2.5 17.5 4.17893 17.5 6.25V13.75C17.5 15.8211 15.8211 17.5 13.75 17.5H6.25C4.17893 17.5 2.5 15.8211 2.5 13.75V6.25C2.5 4.17893 4.17893 2.5 6.25 2.5ZM13 9.5275C13.0925 10.1517 12.9859 10.7892 12.6953 11.3493C12.4047 11.9094 11.9448 12.3636 11.3812 12.6473C10.8175 12.9309 10.1788 13.0297 9.5558 12.9294C8.93281 12.8292 8.35728 12.5351 7.91109 12.0889C7.4649 11.6427 7.17076 11.0672 7.07051 10.4442C6.97027 9.82116 7.06901 9.18242 7.35271 8.61878C7.6364 8.05514 8.0906 7.5953 8.6507 7.30468C9.2108 7.01405 9.84828 6.90744 10.4725 7C11.1092 7.09441 11.6986 7.39109 12.1537 7.84623C12.6089 8.30136 12.9056 8.89081 13 9.5275Z"
                stroke="#65ECEE"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </a>

          <svg
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M14.5 2.5H12.25C11.2554 2.5 10.3016 2.89509 9.59835 3.59835C8.89509 4.30161 8.5 5.25544 8.5 6.25V8.5H6.25V11.5H8.5V17.5H11.5V11.5H13.75L14.5 8.5H11.5V6.25C11.5 6.05109 11.579 5.86032 11.7197 5.71967C11.8603 5.57902 12.0511 5.5 12.25 5.5H14.5V2.5Z"
              fill="#65ECEE"
            />
          </svg>
          <a aria-label="Email" href="mailto:ledionrestelica7@gmail.com">
            <svg
              width="20"
              height="20"
              viewBox="0 0 20 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M4 4H16C16.825 4 17.5 4.675 17.5 5.5V14.5C17.5 15.325 16.825 16 16 16H4C3.175 16 2.5 15.325 2.5 14.5V5.5C2.5 4.675 3.175 4 4 4Z"
                fill="#65ECEE"
              />
              <path
                d="M17.5 5.5L10 10.75L2.5 5.5"
                stroke="black"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </a>
        </div>
      </div>
      <div class="">
        <svg
          width="189"
          height="29"
          viewBox="0 0 189 29"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_308_113)">
            <path
              d="M46.872 16.2274C46.872 8.09968 53.1041 1.78271 62.6363 1.78271C66.2913 1.78271 69.2496 2.73648 71.8266 4.31227L69.9859 12.6888C67.3695 10.491 65.108 9.62018 62.5048 9.62018C57.9819 9.62018 54.9579 12.0668 54.9579 15.3289C54.9579 18.3285 57.3903 20.2637 61.0454 20.2637C63.0307 20.2637 65.8443 19.6831 68.6711 17.9553L66.5806 26.7741C64.0431 27.8385 61.7028 28.1288 59.6517 28.1288C52.6176 28.1288 46.8852 24.1064 46.8852 16.2412L46.872 16.2274Z"
              fill="white"
            />
            <path
              d="M87.3542 24.0234H77.3618L75.1399 27.7555H66.6201L82.3317 2.14209H91.7981L95.3875 27.7555H87.8406L87.3542 24.0234ZM86.4864 17.3609L85.5792 10.3666L81.3719 17.3609H86.4864Z"
              fill="white"
            />
            <path
              d="M108.299 9.60634L107.602 12.4953H118.488L116.713 19.9181H105.853L103.973 27.7417H96.1369L102.251 2.14209H122.156L120.381 9.60634H108.312H108.299Z"
              fill="white"
            />
            <path
              d="M138.959 20.1392L137.145 27.7555H117.791L123.892 2.14209H131.728L127.442 20.1392H138.959Z"
              fill="white"
            />
            <path
              d="M151.174 9.60634L150.648 11.8733H162.126L160.693 17.8308H149.215L148.623 20.2775H160.982L159.247 27.7417H139.025L145.113 2.14209H165.334L163.52 9.60634H151.161H151.174Z"
              fill="white"
            />
            <path
              d="M184.24 23.2493L186.568 27.7555H177.522L174.603 21.3142H171.053L169.554 27.7555H161.718L167.701 2.14209H180.546C185.529 2.14209 189 5.25219 189 9.78604C189 14.3199 186.397 18.2732 182.558 20.1807C183.083 21.0653 183.636 22.0882 184.227 23.2493H184.24ZM173.801 9.60634L172.762 14.0711H177.943C179.678 14.0711 180.756 12.7856 180.756 11.4724C180.756 10.5186 179.994 9.60634 178.942 9.60634H173.788H173.801Z"
              fill="white"
            />
            <path
              d="M4.41766 19.7941L8.73015 11.8184C9.13773 11.0582 9.90031 10.6021 10.7286 10.6021H28.8069C29.7404 10.6021 30.3189 11.6664 29.8587 12.5096L21.3784 27.9219C21.0102 28.5992 20.3265 29.0139 19.5903 29.0139H0.775716C0.184063 29.0139 -0.197223 28.3366 0.0920287 27.7837L4.40452 19.808L4.41766 19.7941Z"
              fill="white"
            />
            <path
              d="M24.6916 27.3689L33.1719 12.081C34.0003 10.5882 32.9747 8.72212 31.3444 8.72212H12.8849C12.3852 8.72212 12.0697 8.14156 12.3195 7.68542L16.4479 0.331745C16.5662 0.124404 16.7766 0 17.0133 0H33.1194C40.5873 0 45.1891 8.57007 41.3368 15.2879L34.0134 28.0601C33.8951 28.2674 33.6847 28.3918 33.4612 28.3918H25.257C24.7573 28.3918 24.4418 27.8251 24.6916 27.3689Z"
              fill="url(#paint0_linear_308_113)"
            />
          </g>
          <defs>
            <linearGradient
              id="paint0_linear_308_113"
              x1="14.3969"
              y1="19.2827"
              x2="41.3966"
              y2="7.8079"
              gradientUnits="userSpaceOnUse"
            >
              <stop offset="0.29" stop-color="#7DF4F4" />
              <stop offset="0.5" stop-color="#65ECEE" />
              <stop offset="0.94" stop-color="#2AD9E1" />
              <stop offset="1" stop-color="#22D7E0" />
            </linearGradient>
            <clip-path id="clip0_308_113">
              <rect width="189" height="29" fill="white" />
            </clip-path>
          </defs>
        </svg>
      </div>
      <div class="flex justify-between flex-wrap space-y-5">
        <p class="text-white">
          Copyright © 2024 Cafler Covers.<br></br>{" "}
          <span class="underline">Developed by Alius</span>
        </p>
        <div class="flex gap-2">
          <svg
            width="35"
            height="24"
            viewBox="0 0 35 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect
              x="0.5"
              y="0.5"
              width="34"
              height="23"
              rx="1.5"
              fill="white"
              stroke="#E2E8F0"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M10.6253 16.2582H8.50494L6.91495 10.1924C6.83949 9.91334 6.67925 9.66667 6.44354 9.5504C5.85531 9.25823 5.20712 9.0257 4.5 8.90843V8.6749H7.91567C8.38708 8.6749 8.74064 9.0257 8.79957 9.43313L9.62454 13.8086L11.7438 8.6749H13.8052L10.6253 16.2582ZM14.9838 16.2582H12.9813L14.6302 8.6749H16.6327L14.9838 16.2582ZM19.2234 10.7757C19.2823 10.3673 19.6359 10.1337 20.0483 10.1337C20.6965 10.0751 21.4026 10.1924 21.9919 10.4835L22.3454 8.85081C21.7562 8.61727 21.108 8.5 20.5198 8.5C18.5762 8.5 17.162 9.55041 17.162 11.0082C17.162 12.1173 18.1637 12.6996 18.8708 13.0504C19.6359 13.4002 19.9305 13.6338 19.8716 13.9835C19.8716 14.5082 19.2823 14.7418 18.6941 14.7418C17.9869 14.7418 17.2798 14.5669 16.6327 14.2747L16.2791 15.9085C16.9862 16.1996 17.7512 16.3169 18.4584 16.3169C20.6376 16.3745 21.9919 15.3251 21.9919 13.75C21.9919 11.7665 19.2234 11.6502 19.2234 10.7757ZM29 16.2582L27.41 8.6749H25.7022C25.3486 8.6749 24.9951 8.90843 24.8772 9.25823L21.9329 16.2582H23.9943L24.4058 15.1502H26.9386L27.1743 16.2582H29ZM25.9968 10.7171L26.585 13.5751H24.9361L25.9968 10.7171Z"
              fill="#172B85"
            />
          </svg>
          <svg
            width="35"
            height="24"
            viewBox="0 0 35 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect
              x="0.5"
              y="0.5"
              width="34"
              height="23"
              rx="1.5"
              fill="white"
              stroke="#E2E8F0"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M10.6253 16.2582H8.50494L6.91495 10.1924C6.83949 9.91334 6.67925 9.66667 6.44354 9.5504C5.85531 9.25823 5.20712 9.0257 4.5 8.90843V8.6749H7.91567C8.38708 8.6749 8.74064 9.0257 8.79957 9.43313L9.62454 13.8086L11.7438 8.6749H13.8052L10.6253 16.2582ZM14.9838 16.2582H12.9813L14.6302 8.6749H16.6327L14.9838 16.2582ZM19.2234 10.7757C19.2823 10.3673 19.6359 10.1337 20.0483 10.1337C20.6965 10.0751 21.4026 10.1924 21.9919 10.4835L22.3454 8.85081C21.7562 8.61727 21.108 8.5 20.5198 8.5C18.5762 8.5 17.162 9.55041 17.162 11.0082C17.162 12.1173 18.1637 12.6996 18.8708 13.0504C19.6359 13.4002 19.9305 13.6338 19.8716 13.9835C19.8716 14.5082 19.2823 14.7418 18.6941 14.7418C17.9869 14.7418 17.2798 14.5669 16.6327 14.2747L16.2791 15.9085C16.9862 16.1996 17.7512 16.3169 18.4584 16.3169C20.6376 16.3745 21.9919 15.3251 21.9919 13.75C21.9919 11.7665 19.2234 11.6502 19.2234 10.7757ZM29 16.2582L27.41 8.6749H25.7022C25.3486 8.6749 24.9951 8.90843 24.8772 9.25823L21.9329 16.2582H23.9943L24.4058 15.1502H26.9386L27.1743 16.2582H29ZM25.9968 10.7171L26.585 13.5751H24.9361L25.9968 10.7171Z"
              fill="#172B85"
            />
          </svg>
          <svg
            width="35"
            height="24"
            viewBox="0 0 35 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect
              x="0.5"
              y="0.5"
              width="34"
              height="23"
              rx="1.5"
              fill="white"
              stroke="#E2E8F0"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M17.75 17.1569C16.5584 18.1852 15.0128 18.806 13.3238 18.806C9.55511 18.806 6.5 15.7154 6.5 11.903C6.5 8.09057 9.55511 5 13.3238 5C15.0128 5 16.5584 5.62075 17.75 6.64903C18.9416 5.62075 20.4872 5 22.1762 5C25.9449 5 29 8.09057 29 11.903C29 15.7154 25.9449 18.806 22.1762 18.806C20.4872 18.806 18.9416 18.1852 17.75 17.1569Z"
              fill="#ED0006"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M17.75 17.1569C19.2172 15.8908 20.1475 14.0068 20.1475 11.903C20.1475 9.79917 19.2172 7.91517 17.75 6.64903C18.9416 5.62075 20.4872 5 22.1762 5C25.9449 5 29 8.09057 29 11.903C29 15.7154 25.9449 18.806 22.1762 18.806C20.4872 18.806 18.9416 18.1852 17.75 17.1569Z"
              fill="#F9A000"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M17.75 6.64893C19.2172 7.91506 20.1475 9.79905 20.1475 11.9029C20.1475 14.0067 19.2172 15.8906 17.75 17.1568C16.2828 15.8906 15.3525 14.0067 15.3525 11.9029C15.3525 9.79905 16.2828 7.91506 17.75 6.64893Z"
              fill="#FF5E00"
            />
          </svg>
          <svg
            width="35"
            height="24"
            viewBox="0 0 35 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect
              x="0.5"
              y="0.5"
              width="34"
              height="23"
              rx="1.5"
              fill="white"
              stroke="#E2E8F0"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M16.5301 15.7585V12.7375H18.0893C18.7282 12.7375 19.2675 12.5234 19.7071 12.1012L19.8126 11.9942C20.6156 11.12 20.5629 9.75817 19.7071 8.94941C19.2792 8.52125 18.6931 8.28932 18.0893 8.30122H15.5864V15.7585H16.5301ZM16.5303 11.8217V9.21703H18.1131C18.4531 9.21703 18.7756 9.34786 19.0159 9.58573C19.526 10.0853 19.5377 10.9178 19.0453 11.4352C18.8049 11.6909 18.4649 11.8336 18.1131 11.8217H16.5303ZM24.2147 11.0546C23.8102 10.6799 23.2592 10.4896 22.5617 10.4896C21.6649 10.4896 20.9908 10.8227 20.5453 11.4827L21.3777 12.012C21.6825 11.5601 22.0987 11.3341 22.6262 11.3341C22.9603 11.3341 23.2827 11.459 23.5347 11.6849C23.7809 11.899 23.9216 12.2083 23.9216 12.5353V12.7554C23.5582 12.5532 23.101 12.4461 22.5383 12.4461C21.8818 12.4461 21.3542 12.6007 20.9615 12.9159C20.5688 13.2311 20.3695 13.6474 20.3695 14.1766C20.3578 14.6583 20.5629 15.1162 20.9263 15.4254C21.2956 15.7585 21.7645 15.925 22.3155 15.925C22.9662 15.925 23.482 15.6336 23.8747 15.0508H23.9157V15.7585H24.8184V12.6126C24.8184 11.9525 24.6191 11.4292 24.2147 11.0546ZM21.6533 14.8189C21.4599 14.6761 21.3426 14.4442 21.3426 14.1944C21.3426 13.9149 21.4716 13.683 21.7237 13.4987C21.9816 13.3143 22.3041 13.2192 22.6851 13.2192C23.2128 13.2132 23.6231 13.3322 23.9163 13.57C23.9163 13.9744 23.758 14.3253 23.4473 14.6226C23.1659 14.9081 22.7848 15.0686 22.3862 15.0686C22.1223 15.0746 21.8644 14.9854 21.6533 14.8189ZM26.8465 18.0004L30 10.6562H28.9743L27.5147 14.3194H27.4972L26.0025 10.6562H24.9767L27.0458 15.4314L25.8735 18.0004H26.8465Z"
              fill="#3C4043"
            />
            <path
              d="M13.2721 12.0831C13.2721 11.7917 13.2486 11.5003 13.2017 11.2148H9.22174V12.8621H11.5019C11.4081 13.3914 11.1033 13.8671 10.6578 14.1644V15.2349H12.0177C12.8149 14.4915 13.2721 13.3914 13.2721 12.0831Z"
              fill="#4285F4"
            />
            <path
              d="M9.22192 16.2696C10.3591 16.2696 11.3204 15.889 12.0179 15.2349L10.658 14.1645C10.277 14.4261 9.79049 14.5748 9.22192 14.5748C8.11995 14.5748 7.18796 13.8195 6.85385 12.8086H5.45294V13.9147C6.16805 15.3598 7.62758 16.2696 9.22192 16.2696Z"
              fill="#34A853"
            />
            <path
              d="M6.85404 12.8088C6.67817 12.2796 6.67817 11.7027 6.85404 11.1675V10.0674H5.45291C4.84907 11.2746 4.84907 12.7018 5.45291 13.909L6.85404 12.8088Z"
              fill="#FBBC04"
            />
            <path
              d="M9.22192 9.40114C9.82566 9.38925 10.406 9.62117 10.8397 10.0434L12.0472 8.81836C11.2793 8.09285 10.2711 7.69442 9.22192 7.70631C7.62758 7.70631 6.16805 8.62211 5.45294 10.0672L6.85385 11.1733C7.18796 10.1564 8.11995 9.40114 9.22192 9.40114Z"
              fill="#EA4335"
            />
          </svg>
          <svg
            width="35"
            height="24"
            viewBox="0 0 35 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect
              x="0.5"
              y="0.5"
              width="34"
              height="23"
              rx="1.5"
              fill="white"
              stroke="#E2E8F0"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M8.3462 8.93296C8.81624 8.97261 9.28628 8.69506 9.58006 8.34316C9.86894 7.98135 10.0599 7.49563 10.0109 7C9.59475 7.01983 9.08064 7.27755 8.78686 7.63936C8.51757 7.95161 8.28745 8.45715 8.3462 8.93296ZM13.9377 15.3167V7.58981H16.8021C18.2807 7.58981 19.3138 8.62072 19.3138 10.1274C19.3138 11.6342 18.2611 12.675 16.7629 12.675H15.1226V15.3167H13.9377ZM10.006 9.02714C9.5919 9.00301 9.21406 9.1532 8.90886 9.27451C8.71246 9.35257 8.54614 9.41868 8.41961 9.41868C8.27762 9.41868 8.10444 9.34904 7.90999 9.27085C7.65521 9.16839 7.36392 9.05125 7.05845 9.05687C6.35829 9.06679 5.70709 9.46825 5.34966 10.1076C4.61522 11.3863 5.1587 13.2796 5.86866 14.3205C6.2163 14.8359 6.63248 15.4009 7.18086 15.3811C7.42211 15.3719 7.59566 15.2974 7.77526 15.2202C7.98203 15.1314 8.19683 15.0391 8.53223 15.0391C8.85599 15.0391 9.0614 15.129 9.25858 15.2152C9.44606 15.2973 9.62611 15.376 9.89339 15.3712C10.4614 15.3613 10.8188 14.8557 11.1664 14.3403C11.5416 13.7871 11.7064 13.2471 11.7314 13.1652L11.7344 13.1557C11.7338 13.1551 11.7291 13.153 11.721 13.1492C11.5956 13.0911 10.637 12.6469 10.6278 11.4557C10.6186 10.4559 11.3881 9.94937 11.5093 9.86963L11.5093 9.86962C11.5166 9.86477 11.5216 9.8615 11.5238 9.85979C11.0342 9.12626 10.2704 9.04696 10.006 9.02714ZM21.478 15.3761C22.2223 15.3761 22.9126 14.9945 23.226 14.3898H23.2505V15.3166H24.3472V11.4706C24.3472 10.3554 23.4659 9.63672 22.1096 9.63672C20.8513 9.63672 19.921 10.3653 19.8867 11.3665H20.9541C21.0423 10.8907 21.478 10.5784 22.0754 10.5784C22.8 10.5784 23.2064 10.9204 23.2064 11.5499V11.9761L21.7277 12.0653C20.3519 12.1496 19.6077 12.7195 19.6077 13.7108C19.6077 14.712 20.3764 15.3761 21.478 15.3761ZM21.7962 14.4592C21.1646 14.4592 20.7631 14.1519 20.7631 13.6811C20.7631 13.1954 21.1499 12.9129 21.8893 12.8683L23.2063 12.784V13.2202C23.2063 13.9438 22.5992 14.4592 21.7962 14.4592ZM27.9851 15.619C27.5102 16.9721 26.9667 17.4181 25.8112 17.4181C25.7231 17.4181 25.4293 17.4082 25.3607 17.3884V16.4616C25.4342 16.4715 25.6153 16.4814 25.7084 16.4814C26.2323 16.4814 26.526 16.2584 26.7072 15.6785L26.8149 15.3365L24.8075 9.71108H26.0462L27.4416 14.2758H27.4661L28.8616 9.71108H30.066L27.9851 15.619ZM15.1225 8.60087H16.4886C17.5168 8.60087 18.1044 9.15598 18.1044 10.1324C18.1044 11.1088 17.5168 11.6688 16.4837 11.6688H15.1225V8.60087Z"
              fill="black"
            />
          </svg>
          <svg
            width="35"
            height="24"
            viewBox="0 0 35 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect
              x="0.5"
              y="0.5"
              width="34"
              height="23"
              rx="1.5"
              fill="#1F72CD"
              stroke="#E2E8F0"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M6.68111 8.5L3.5 15.7467H7.30824L7.78035 14.5913H8.85949L9.3316 15.7467H13.5234V14.8649L13.8969 15.7467H16.0652L16.4387 14.8462V15.7467H25.1566L26.2166 14.6213L27.2092 15.7467L31.6868 15.7561L28.4957 12.1436L31.6868 8.5H27.2786L26.2467 9.60463L25.2854 8.5H15.8016L14.9872 10.3704L14.1537 8.5H10.3534V9.35186L9.93068 8.5H6.68111ZM19.6994 9.52905H24.7055L26.2367 11.2316L27.8172 9.52905H29.3484L27.0219 12.1426L29.3484 14.726H27.7477L26.2166 13.0036L24.628 14.726H19.6994V9.52905ZM20.9356 11.555V10.6057V10.6048H24.0593L25.4223 12.1229L23.9989 13.6493H20.9356V12.613H23.6667V11.555H20.9356ZM7.41799 9.52905H9.2743L11.3843 14.4431V9.52905H13.4178L15.0476 13.0524L16.5496 9.52905H18.573V14.7291H17.3418L17.3317 10.6544L15.5368 14.7291H14.4355L12.6305 10.6544V14.7291H10.0977L9.61756 13.5633H7.02338L6.54421 14.728H5.18717L7.41799 9.52905ZM7.46634 12.4856L8.32101 10.4089L9.1747 12.4856H7.46634Z"
              fill="white"
            />
          </svg>
        </div>
      </div>
    </div>
  </div>