<div class="w-full bg-[#FCFCFC] h-max py-[50px]">
    <div class="max-w-[1440px] gap-4 mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 h-full my-auto py-4 px-4">
      <div class="w-full aspect-[4/5] flex justify-center items-end relative z-0">
        <img
          src="/cloth.jpg"
          alt="carshot"
          width={800}
          height={800}
          style={{
            position: "absolute",
            objectFit: "cover",
            aspectRatio: "4/5",
          }}
        ></img>
        <div class="flex flex-col gap-[24px]">
          <p class="black text-2xl text-white z-10">OVER 500+ CAR MODELS</p>
          <button
            aria-label="shop now"
            class="uppercase mx-auto mb-[34px] brand px-[28px] py-[12px] z-20 text-white extrabold bg-[var(--color-blue-500)]"
          >
            Shop Now
          </button>
        </div>
      </div>
      <div class="w-full aspect-[4/5] flex justify-center items-end relative z-0">
        <img
          src="/carshot.jpg"
          alt="carshot"
          width={800}
          height={800}
          style={{
            position: "absolute",
            objectFit: "cover",
            aspectRatio: "4/5",
          }}
        ></img>
        <div class="flex flex-col gap-[24px]">
          <p class="black text-2xl text-white z-10">COSTUM FIT COVERS</p>
          <button
            aria-label="shop now"
            class="uppercase mx-auto mb-[34px] brand px-[28px] py-[12px] z-20 text-white extrabold bg-[var(--color-blue-500)]"
          >
            FIND YOURS
          </button>
        </div>
      </div>
      <div class="w-full aspect-[4/5] bg-secondary flex justify-center items-end relative z-0">
        <img
          src="/cloth.jpg"
          alt="carshot"
          width={800}
          height={800}
          style={{
            position: "absolute",
            objectFit: "cover",
            aspectRatio: "4/5",
          }}
        ></img>
        <div class="flex flex-col gap-[24px]">
          <p class="black text-2xl text-white z-10">PREMIUM MATERIALS</p>
          <button
            aria-label="shop now"
            class="uppercase mx-auto mb-[34px] brand px-[28px] py-[12px] z-20 text-white extrabold bg-[var(--color-blue-500)]"
          >
            See them
          </button>
        </div>
      </div>
    </div>
  </div>