<div class="w-full bg-[var(--color-blue-900)]">
    <div class="max-w-[1440px] py-[52px] px-4 mx-auto flex flex-col md:flex-row gap-16 justify-between">
      <div class="flex gap-2">
        <div class="mt-[5px]">
          <svg
            width="25"
            height="20"
            viewBox="0 0 46 29"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M38.1667 22.8333H42.5C43.8 22.8333 44.6667 21.9666 44.6667 20.6666V14.1666C44.6667 12.2166 43.15 10.4833 41.4167 10.05C37.5167 8.96663 31.6667 7.66663 31.6667 7.66663C31.6667 7.66663 28.85 4.63329 26.9 2.68329C25.8167 1.81663 24.5167 1.16663 23 1.16663H7.83334C6.53334 1.16663 5.45001 2.03329 4.80001 3.11663L1.76668 9.39996C1.47977 10.2368 1.33334 11.1153 1.33334 12V20.6666C1.33334 21.9666 2.20001 22.8333 3.50001 22.8333H7.83334M38.1667 22.8333C38.1667 25.2265 36.2266 27.1666 33.8333 27.1666C31.4401 27.1666 29.5 25.2265 29.5 22.8333M38.1667 22.8333C38.1667 20.4401 36.2266 18.5 33.8333 18.5C31.4401 18.5 29.5 20.4401 29.5 22.8333M7.83334 22.8333C7.83334 25.2265 9.77344 27.1666 12.1667 27.1666C14.5599 27.1666 16.5 25.2265 16.5 22.8333M7.83334 22.8333C7.83334 20.4401 9.77344 18.5 12.1667 18.5C14.5599 18.5 16.5 20.4401 16.5 22.8333M16.5 22.8333H29.5"
              stroke="#8EC3FF"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
        <div class="flex flex-col gap-2">
          <p class="extrabold text-[16px] text-white">
            FITMENT FOR OVER 200+ VEHICLES
          </p>
          <p class="regular text-[16px] text-[var(--color-blue-100)]">
            Seal Skin products are warranted for five-years to help protect
            your investment.
          </p>
        </div>
      </div>
      <div class="flex gap-2">
        <div class="mt-[5px]">
          <svg
            width="25"
            height="20"
            viewBox="0 0 26 28"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M12.9993 1V27M24.2572 7.5L1.74121 20.5M1.74121 7.5L24.2572 20.5"
              stroke="#8EC3FF"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
        <div class="flex flex-col gap-2">
          <p class="extrabold text-[16px] text-white">
            HISTORY OF CRAFTSMANSHIP
          </p>
          <p class="regular text-[16px] text-[var(--color-blue-100)]">
            Seal Skin products are warranted for five-years to help protect
            your investment.
          </p>
        </div>
      </div>
      <div class="flex gap-2">
        <div class="mt-[5px]">
          <svg
            width="25"
            height="20"
            viewBox="0 0 46 38"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1.3335 10.5H10.0002V19.1666H1.3335V10.5ZM1.3335 10.5C1.3335 8.20144 2.24659 5.99704 3.8719 4.37172C5.49722 2.74641 7.70162 1.83331 10.0002 1.83331H27.3335C29.632 1.83331 31.8364 2.74641 33.4618 4.37172C35.0871 5.99704 36.0002 8.20144 36.0002 10.5V32.1666M1.3335 10.5V27.8333C1.3335 28.9826 1.79004 30.0848 2.6027 30.8974C3.41536 31.7101 4.51756 32.1666 5.66683 32.1666H10.0002M18.6668 32.1666H27.3335V10.5H18.6668V32.1666ZM18.6668 32.1666C18.6668 34.5599 16.7267 36.5 14.3335 36.5C11.9403 36.5 10.0002 34.5599 10.0002 32.1666M18.6668 32.1666C18.6668 29.7734 16.7267 27.8333 14.3335 27.8333C11.9403 27.8333 10.0002 29.7734 10.0002 32.1666M18.6668 32.1666H44.6668V27.8333"
              stroke="#8EC3FF"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
        <div class="flex flex-col gap-2">
          <p class="extrabold text-[16px] text-white">
            ENGINEERED TO PERFECTION
          </p>
          <p class="regular text-[16px] text-[var(--color-blue-100)]">
            Seal Skin products are warranted for five-years to help protect
            your investment.
          </p>
        </div>
      </div>
    </div>
  </div>